.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}

.card-category {
  color: $gray;
}

a {
  color:black;
  text-decoration: none;
  &:hover{
    color: $gray;
    text-decoration: none;
  }
}

h3 {
font-size: 3em;
margin: 0;
color:black;
}

.card-category-show {
  display: flex;
  border: 1px solid black;
  height: 40px;
  color: $gray;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.card-category-list {
  border: 1px solid black;
  height: auto;
  color: $gray;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 8px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

